@{
    ViewBag.Title = "UseClaimsAuthorization";
}

<h2>Test Using Claims Authorization</h2>
<p>
    If you made it to this page you are authorized to view it.
    Authorization was verified using the ClaimsAuthorizationManager.
</p>

