@{
    ViewBag.Title = "PasswordResetFailure";
}

<h2>Error Resetting Password</h2>
<p>There was a problem resetting your password. You may have entered a user name that is not in the system. Please try again.</p>
